<div class="leftborder">
  <p><%=@question%></p>
  <p> <em>-- You</em></p>
</div>

<div class="leftborder yellow-background">
  <p><%=@answer%></p>
  <p> <em>-- Your Coach</em></p>
</div>


<%= link_to("Ask a new question", ask_path) %>
