<div class="chat">
  <p><%=@question%></p>
  <p> <em>-- You</em></p>
</div>

<div class="chat coach-answer">
  <p><%=@answer%></p>
  <p> <em><strong> -- Your Coach</strong></em></p>
</div>


<%= link_to("Ask a new question", ask_path) %>
